<div class="card p-3" style="width: 20rem;">
    <img src="https://randomuser.me/api/portraits/men/40.jpg" class="card-img-top rounded-circle" alt="...">
    <div class="card-body p-1">
        <h5 class="card-title text-center text-secondary">Francisco Sánchez Garrido</h5>
        <div class="d-flex justify-content-center">

            <button type="button" class="btn btn-outline-secondary border-0">
                <i class="fa-solid fa-magnifying-glass fa-3x"></i>
                <p>Ver detalle</p>
            </button>

            <button type="button" class="btn btn-outline-secondary border-0">
                <i class="fa-solid fa-arrows-rotate fa-3x"></i>
                <p>Actualizar</p>
            </button>

            <button type="button" class="btn btn-outline-secondary border-0">
                <i class="fa-solid fa-trash-can fa-3x"></i>
                <p>Borrar</p>
            </button>

        </div>

    </div>
</div>