<section class="container mt-3">

    <div class="row g-3">

        <article class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let user of arrUsers">
            <app-user-card [myUser]="user"></app-user-card>
            
        </article>

        <nav>
            <ul class="pagination justify-content-center text-secondary pt-1">

                <li class="page-item">
                    <a class="page-link rounded-circle text-secondary" [ngClass]="{'active': dataAPI?.page === 1}"
                        (click)="page(1)">1</a>
                </li>
                <hr>
                <li class="page-item">
                    <a class="page-link rounded-circle text-secondary" [ngClass]="{'active': dataAPI?.page === 2}"
                        (click)="page(2)">2</a>
                </li>
                <hr>
                <li class="page-item " [ngClass]="{'disabled': dataAPI?.total_pages <3}">
                    <a class="page-link rounded-circle text-secondary" [ngClass]="{'active': dataAPI?.page === 3}"
                        (click)="page(3)">3</a>
                </li>

            </ul>
        </nav>

    </div>

</section>